ul li a {
    font-size: 1.25em;
    color: #FFF;
    text-transform: uppercase;
}

.main-menu ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    background: linear-gradient(90deg,#c94435,#e8a13e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.secondary-menu {
    background: linear-gradient(90deg,#c94435,#e8a13e);
    height: 50px;
    margin-top: 0;
    padding: .6em 0 .5em 0;
    margin: 0 6em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.secondary-menu ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

.secondary-menu ul li {
    display: inline-block;
    margin: 0 .5em;
}

.secondary-menu ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #393232;
    padding: .5em;
}

body {
    min-height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #393232;
}