.logo {
  max-width: 200px;
}

.main-menu {
  position: absolute;
  bottom: 1.5em;
  left: .5em;
  z-index: 10;
}

.main-menu ul {
  list-style-type: none;
}

.main-menu ul li {
  margin: .5em;
}

ul li a {
  font-size: 1.5em;
  color: #FFF;
  text-transform: uppercase;
}

.main-menu ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
  background: linear-gradient(90deg,#c94435,#e8a13e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.secondary-menu {
  background: linear-gradient(90deg,#c94435,#e8a13e);
  height: 50px;
  margin-top: 0;
  padding: .6em 0 .5em 0;
  margin: 0 6em;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.secondary-menu ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.secondary-menu ul li {
  display: inline-block;
  margin: 0 .5em;
}

.secondary-menu ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #393232;
  padding: .5em;
}


@media screen and (max-width: 780px) {
  .logo {
    max-width: 100px;
  }

  .main-menu {
    position: absolute;
    bottom: 1em;
    left: .5em;
  }
  
  .main-menu ul {
    list-style-type: none;
  }
}

html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.landing-background-container {
  background: url(./media/az-welcomesign.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
}

.about-background-container {
  background: url(./media/family.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

a {
  text-decoration: none;
}

/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  