.logo img {
  max-width: 200px;
}

.logo img:last-child {
  margin-left: .8px;
  display: none;
}

.logo:hover img:last-child {
  display: block;
}

.logo:hover {
  padding-bottom: 5px;
}

.logo:hover img:first-child {
  display: none;
}

.header-container--index .logo img:last-child {
  display: block;
}

.payment-logo {
  max-width: 100px;
}

.main-menu {
  position: absolute;
  bottom: 1.5em;
  left: .5em;
  z-index: 10;
}

.main-menu ul {
  list-style-type: none;
}

.main-menu ul li {
  margin: .5em;
}



.article--about {
  color: #FFF;
}


.about-right {
  width: 40%;
  float: right;
}

.about-left {
  clear: both;
  float: left;
  width: 650px;
  margin: 0 auto;
}

.rates-list {
  padding-left: .75em;
}

.rates-list li {
  padding: .5em 0;
}

@media screen and (max-width: 780px) {
  .logo {
    max-width: 100px;
  }

  .main-menu {
    position: absolute;
    bottom: 1em;
    left: .5em;
  }
  
  .main-menu ul {
    list-style-type: none;
  }
}

html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 400;
}

.landing-background-container {
  background: url(./media/az-welcomesign.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
}

.about-background-container {
  background: url(./media/family.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: -1;
  margin-top: -8em;
}

.space-background-container {
  background: url(./media/the-space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: -1;
  margin-top: -8em;
}

.about-background-container .overlay {
  background: rgba(0,0,0,0.6);
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

.image--accident,
.image--space {
  max-width: 300px;
  align-self: flex-end;
}

.be-well {
  background: linear-gradient(90deg,#ff7c6d,#ffcf8c);
  padding: 1em;
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
  color: #FFF;
  font-size: 1.5em;
  margin-top: 3em;
}

a {
  text-decoration: none;
}

hr {
  color: rgba(186, 187, 184, 0.38);
  background-color: rgba(186, 187, 184, 0.38);
  border: none;
  height: 1px;
}

footer hr {
  width: 80%;
}

footer {
  background-color: #393232;
  padding-top: 2em;
  font-size: 11px;
  letter-spacing: .24em;
  line-height: 2em;
  text-align: center;
}

.footer--logo {
  max-width: 100px;
  margin: 0 auto;
}

.footer--nav {
  padding: 2em 2em;
  text-align: center;
}

.footer--nav a {
  text-transform: uppercase;
  color: #FFF;
  padding-right: 1em;
  transition: color .15s ease-out;
}

.footer--nav a:hover {
 color: rgba(246,242,239,.5); 
}

.footer--contact {
  color: #FFF;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1em;
  padding: 2em 0;
}

.footer--contact span {
  margin-bottom: 1em;
}

.copyright {
  display: flex;
  justify-content: space-between;
  background-color: #504545;
  color: #998c8c;
  padding: 1em 2em;
}

.copyright a {
  color: #998c8c;
}

.copyright a:hover {
  cursor: pointer;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}